<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Simran <i class="fa fa-heart-o" aria-hidden="true"></i> Akshay</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active"  href="ourStory">Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">The Bridal Party</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Engagement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="wishes">Wishes</a>
          </li>
        </ul>
      </div>
    </div>
</nav>




    
    