       <!-- Topic Cards -->
       <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 offset-md-2 col-sm-6 col-md-4 col-lg-4">
                    <!-- <a href=""> -->
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="assets/images/simran.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>HIS</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <!-- <a href=""> -->
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="assets/images/akshay.jpg" alt="" />
                                </div>
                                <div class="text-container">                                    
                                    <h6>HER</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                    <!-- </a> -->
                </div>
                
            </div>
        </div>
    </div>
